.btn {
    font-family: 'Lato';
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-tertiary);
    padding: 2rem 3.5rem;
    letter-spacing: .3rem;
    color: var(--color-secondary);
    text-decoration: none;
    border-radius: 10rem;
    margin-top: 7rem;
}

.container-sm {
    padding: 9rem 8.6rem;
    display: block;
    flex-basis: 50%;
    flex-shrink: 1;
    // flex-wrap: wrap;

    @include respond (desktop) {
        padding: 6rem 7rem;
    }

    @include respond (tab-land) {
        // flex-basis: 100%;
        flex-shrink: 0;
    }

    &__text-bg {
        font-family: 'Lato';
        font-size: 5rem;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 2.4rem;
    }

    &__text-sm {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 7rem;
    }
}

.container {
    padding: 7.66rem 5.5rem;
}

.studies__btn {
    text-align: center;
}

.blog__flex {
    display: flex;
}